<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learningcrew.linkup.meeting.query.infrastructure.AdminMeetingMapper">

    <select id="selectAllMeetings" resultType="com.learningcrew.linkup.meeting.query.application.dto.response.MeetingSummaryDTO">
        SELECT
            m.meeting_id AS meetingId,
            mem.nickname AS leaderNickname,
            p.place_name AS placeName,
            p.address AS placeAddress,
            s.sport_name AS sportName,
            m.status_id AS statusId,
            m.meeting_title AS meetingTitle,
            m.date,
            m.start_time AS startTime,
            m.end_time AS endTime,
            m.min_user AS minUser,
            m.max_user AS maxUser,
            m.gender,
            m.age_group AS ageGroup,
            m.level,
            m.custom_place_address AS customPlaceAddress
        FROM meeting m
        JOIN member mem ON m.leader_id = mem.member_id
        LEFT JOIN place p ON m.place_id = p.place_id
        JOIN sport_type s ON m.sport_id = s.sport_id
        WHERE 1 = 1
        <if test="gender != null">
            AND m.gender = #{gender}
        </if>
        <if test="ageGroups != null and ageGroups.size() > 0">
            AND (
            <foreach item="item" collection="ageGroups" separator=" OR ">
                FIND_IN_SET(#{item}, m.age_group)
            </foreach>
            )
        </if>
        <if test="levels != null and levels.size() > 0">
            AND (
            <foreach item="item" collection="levels" separator=" OR ">
                FIND_IN_SET(#{item}, m.level)
            </foreach>
            )
        </if>
        <if test="sportIds != null and sportIds.size() > 0">
            AND m.sport_id IN
            <foreach item="item" collection="sportIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="statusIds != null and statusIds.size() > 0">
            AND m.status_id IN
            <foreach item="item" collection="statusIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="maxDate != null">
            AND m.date <![CDATA[ <= ]]> #{maxDate}
        </if>
        ORDER BY m.date DESC, m.start_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAllMeetings" resultType="long">
        SELECT COUNT(*)
        FROM meeting m
        JOIN member mem ON m.leader_id = mem.member_id
        LEFT JOIN place p ON m.place_id = p.place_id
        JOIN sport_type s ON m.sport_id = s.sport_id
        WHERE 1 = 1
        <if test="gender != null">
            AND m.gender = #{gender}
        </if>
        <if test="ageGroups != null and ageGroups.size() > 0">
            AND (
            <foreach item="item" collection="ageGroups" separator=" OR ">
                FIND_IN_SET(#{item}, m.age_group)
            </foreach>
            )
        </if>
        <if test="levels != null and levels.size() > 0">
            AND (
            <foreach item="item" collection="levels" separator=" OR ">
                FIND_IN_SET(#{item}, m.level)
            </foreach>
            )
        </if>
        <if test="sportIds != null and sportIds.size() > 0">
            AND m.sport_id IN
            <foreach item="item" collection="sportIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="statusIds != null and statusIds.size() > 0">
            AND m.status_id IN
            <foreach item="item" collection="statusIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="maxDate != null">
            AND m.date <![CDATA[ <= ]]> #{maxDate}
        </if>
    </select>



</mapper>
